#social-media-links li {
  padding: 10px;
  font-size: 6vw;
}

#links li {
    display: block;
}

#content #about #text {
  width: 100%;
  text-align: justify;
}

#content #about #band-photo {
  width: 100%;
}
